<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!--  별명지정(중복만 안되면 됨)  -->    
<mapper namespace="customer.mybatis.CustomerMapper">
 
 <!-- resultType:sqlmapConfig.xml에서 알리아스설정때문에 간단히씀 -->
<!--  select 시작 -->
    <select id="SelectCustInfo" resultType="CSR_SV_ACNT" useCache="true">
        SELECT SV_ACNT_NUM, SVC_NUM, CUST_NM, PROD_NM, MVNO_CO_CD, SV_ACNT_ST_CD
        FROM CSR_SV_ACNT
        WHERE 1=1
		AND SV_ACNT_NUM = #{svAcntNum}
    </select>    
<!-- select 끝 -->    

 
</mapper>