<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dmvno.charging.interface_receive.mapper.ReceiveRepository">

<select id="checkAuth" parameterType="dmvno.charging.interface_receive.domain.InterfaceBeans" resultType="int">
	SELECT  COUNT(*) 
	 FROM don_external_org_don_hst
	 WHERE LOGIN_ID = #{login_id}
	   AND PASSWORD = #{password}
	 ;
</select>


<select id="getHistory" parameterType="String" resultType="hashmap">
	SELECT  LOGIN_ID, PASSWORD, DON_DT, DON_AMT, SETTL_WAY_CD, PAY_MTHD_CD, REGU_YN, DON_CTT
	 FROM don_external_org_don_hst
	 WHERE LOGIN_ID = #{id}
	 ;
</select>



</mapper>
